<div class="container">
    <div class="listado-servicios">
        <div class="panel" *ngFor="let uno of [1,3,4,5,6]">
            <div class="icono">
                <img src="./assets/images/iconos/masajes_1.png" width="140">
            </div>
            <div class="valor">
                MASAJES DESCONTRACTURANTES
            </div>
            <div class="descripcion">
                Se puede optar por hacerlos en la región superior(cuello y espalda). Región inferior(Piernas y pies) o
                ambas
                regiones.
            </div>
            <div class="botones">
                <button mat-button color="primary" class="btn_ver_precio">Ver precios</button>
            </div>
        </div>
    </div>
</div>