@import '~@angular/material/theming';
@import '../../../styles.scss';

.listado-servicios{
    padding:10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    .panel{
        margin:10px;
        width: 400px;
        padding:10px;
        background-color: #dededebd;
        box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 75%);
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1.10s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        border-radius: 10px;
        
        // border:1px solid mat-color($masoterapia2-primary,400);
        .icono{
            display: flex;
            justify-content: center;
            align-items: center;
            padding:10px;
        }
        .valor{
            padding:10px;
            font-size: 17px;
            font-weight: 600;
            text-align: center;
            color:#333;
        }
        .descripcion{
            padding:10px;
            color:#3b3b3b;
            font-size: 12px;
            text-align: center;
        }
        .botones{
            display:flex;
            padding:10px;
            justify-content: center;
            .btn_ver_precio{
                background: mat-color($masoterapia2-primary,300)!important;
                color:white;
                border-radius: 0px!important;
            }
            
        }
    }
}