<div class="container">
    <div class="row col-md-12">
        <div class="div_1 col-md-6 justify-content-center">
            <!-- titulo , descripcion y boton aca -->
            <div class="d-flex justify-content-center flex-direction-column">
                <div class="titulo d-flex">
                    <div class="circulo">
                        <span class="ma">Ma</span>
                    </div>
                    <div class="d-flex div_sote">
                        <span class="soterapia">soterapia</span>
                    </div>
                    <div class="d-flex div_sote">
                        <span class="soterapia">&nbsp;BG</span>
                    </div>

                </div>
                <div class="descripcion">
                    <span>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book
                    </span>
                </div>
                <div class="div_boton_turno d-flex ">
                    <button mat-flat-button color="primary" class="btn_">
                        Tomar turno
                    </button>
                </div>
            </div>
        </div>
        <!-- Imagenes aca -->

        <div class="div_2 col-md-6 justify-content-center">
            <div class="circle">
                <div class="content">
                    <div class="d-flex justify-content-center flex-direction-column align-items-center">
                        <div class="circulo imagenes">
                            <img src="./assets/images/consultorio/consultorio_1.jpg" alt="" class="imagen">
                        </div>
                        <div class="circulo imagenes posicion_1">
                            <img src="./assets/images/consultorio/consultorio_2.jpg" alt="" class="imagen">
                        </div>
                        <div class="circulo imagenes posicion_2">
                            <img src="./assets/images/masajes/masajes_1.jpg" alt="" class="imagen">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>