@import '~@angular/material/theming';
@import '../../../styles.scss';



.circulo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background:mat-color($masoterapia2-primary,400);
    box-shadow: -1px 2px 32px -4px rgba(0,0,0,0.75);
    .ma{
        color: white;
        font-size: 130px;
       font-family: 'Dancing Script', cursive;
        font-weight: 600;
        
    }
}
.div_1{
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1.10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    height: 70vh;
    align-items: center;
    display: flex;
    .div_sote{
        display: flex;
        align-items: center;
        .soterapia{
            color: #333;
            font-size: 130px;
           font-family: 'Dancing Script', cursive;
            font-weight: 600;
        }
    }
    .descripcion{
        padding:10px;
        color:#333;
        font-size: 15px;
    }
    .div_boton_turno{
        padding:10px;
        .btn_{
          margin:20px;
            box-shadow: -1px 2px 32px -4px rgba(0,0,0,0.75)
        }
    }
}
.div_2{
    .imagenes{
        display: flex;
        justify-content: center;
        align-items: center;
        .imagen{
            border-radius: 50%;
            width: 190px;
            height: 190px;
        }
 
    }
    .posicion_1{
        margin-right: -230px;
         margin-top: -41px;
             }
    .posicion_2{
        margin-right:-463px;
        margin-top: -41px;
    }
}

.circle {
    /* display:none; */
    // position: absolute;
    // top: 100px;
    // left: 100px;
    // z-index: 800;
    // background: mat-color($masoterapia2-primary);
    // border-radius: 50%;
    // height: 320px;
    // width: 320px;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1.10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .content {
    position: relative;
    top: 50px;
    width: 100%;
    text-align: center;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.0s;
    animation-duration: 1.0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.5s;
  }
  .splatter {
    position: absolute;
    top: 90px;
    left: 50px;
    z-index: 799;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; 
  }
  
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }

